<div ng-model="no" class="linarrow">
    <accordionmenu accordionmenu-title='inputTextTitle' accordionmenu-show='true'>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">ID</div>
                 
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           id="CopyinputText"
                           type="text"
                           placeholder="按钮内容"
                           ng-model="$parent.inputTextidInput"
                           ng-change="changeButtonContent()">
                    <button type="button" class="btn btn-success btn-xs" onclick="copytext('CopyinputText')">复制</button>
                </div>
                 
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">文字内容</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="text"
                           placeholder="按钮内容"
                           ng-model="$parent.inputTextContentInput"
                           ng-change="changeInputTextContent()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">
                    <span >标题文字字体</span>
                </div>
                <div class="col-md-6">
                    <select ng-model="$parent.inputTextContentFontFamilySelected" class="form-control input-sm"
                            ng-options="x.name for x in componentFontFamily"
                            ng-change="changeInputTextContentFontFamily()">
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">
                    <span >文本内容字体</span>
                </div>
                <div class="col-md-6">
                    <select ng-model="$parent.textAreaContentFontFamilySelected" class="form-control input-sm"
                            ng-options="x.name for x in componentFontFamily"
                            ng-change="changeTextAreaContentFontFamily()">
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">标题高度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="按钮内容"
                           ng-model="$parent.inputTextHeightInput"
                           ng-change="changeInputTextHeight()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">标题宽度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="按钮内容"
                           ng-model="$parent.inputTextWidthInput"
                           ng-change="changeInputTextWidth()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">文本框高度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="文本框高度"
                           ng-model="$parent.inputTextContentHeightInput"
                           ng-change="changeInputTextContentHeight()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">文本框宽度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="文本框宽度"
                           ng-model="$parent.inputTextContentWidthInput"
                           ng-change="changeInputTextContentWidth()">
                </div>
            </div>
        </li>
    </accordionmenu>
    <accordionmenu accordionmenu-title='inputTexteventbindTitle' accordionmenu-show='true'>
        <li>
            <div class="row">
                <div class="col-md-6 col-md-offset-1 textAlignAtRight">
                    <select ng-model="$parent.inputTexteventselect" class="form-control input-sm"
                            ng-options="x.name for x in inputTextevent">
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addinputTextevent()">新增</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="addinitjs()">适配</button>
                </div>
            </div>
        </li>
    </accordionmenu>
    <accordionmenu accordionmenu-title='inputTexteventeditTitle' accordionmenu-show='true'>
        <li ng-repeat="func in elemEventList.funclist" ng-show="isShow(func.flag)">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 textAlignAtRight">
                    <!--此处需设置禁用-->
                    <input type="text"
                           class="form-control input-sm"
                           placeholder="func.funcType.name"
                           ng-model="func.funcType.name"
                           ng-disabled="true">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-xs" ng-click="editinputTextevent(func)">编辑</button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="delinputTextevent(func)">删除</button>
                </div>
            </div>
        </li>
    </accordionmenu>
</div>