<!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="styles/parentMain.css">-->
<!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" >ssMobile-editor</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">编辑</a></li>
            <li><a href="#">下载</a></li>
            <li><a href="#">撤销</a></li>
            <li><a href="#">重做</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding:0 30px 0 0">
            <li><a href="#">说明文档</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>