<div ng-model="no" class="linarrow" >
    <accordionmenu accordionmenu-title='nparaTitle' accordionmenu-show='true'>
       <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">ID</div>
                 
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           id="CopynormalLabel"
                           type="text"
                           placeholder="按钮内容"
                           ng-model="$parent.normalLabelidInput"
                           ng-change="changeButtonContent()">
                    <button type="button" class="btn btn-success btn-xs" onclick="copytext('CopynormalLabel')">复制</button>
                </div>
                 
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">标题文字</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="text"
                           placeholder="标题文字"
                           ng-model="$parent.normalLabelContentInput"
                           ng-change="changeNormalLabelContent()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <span >文字字体</span>
                </div>
                <div class="col-md-6">
                    <select ng-model="$parent.normalLabelContentFontFamilySelected" class="form-control input-sm"
                            ng-options="x.name for x in componentFontFamily"
                            ng-change="changeNormalLabelContentFontFamily()">
                    </select>
                </div>
            </div>
        </li>
         <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">文字颜色</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="color"
                           list="colors"
                           ng-model="$parent.buttonColorInput"
                           ng-change="changeButtonColor()">
                    <datalist class="colors">
                    </datalist>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">标题高度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="标题高度"
                           ng-model="$parent.normalLabelHeightInput"
                           ng-change="changeNormalLabelHeight()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">标题宽度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="0"
                           placeholder="标题宽度"
                           ng-model="$parent.normalLabelWidthInput"
                           ng-change="changeNormalLabelWidth()">
                </div>
            </div>
        </li>
    </accordionmenu>
     <accordionmenu accordionmenu-title='nparaeventbindTitle' accordionmenu-show='true'>
        <li>
            <div class="row">
                <div class="col-md-6 col-md-offset-1 textAlignAtRight">
                    <select ng-model="$parent.normalLabeleventselect" class="form-control input-sm"
                            ng-options="x.name for x in normalLabelevent">
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addnormalLabelevent()">新增</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="addinitjs()">适配</button>
                </div>
            </div>
        </li>
    </accordionmenu>
    <accordionmenu accordionmenu-title='nparaeventeditTitle' accordionmenu-show='true'>
        <li ng-repeat="func in elemEventList.funclist" ng-show="isShow(func.flag)">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 textAlignAtRight">
                    <!--此处需设置禁用-->
                    <input type="text"
                           class="form-control input-sm"
                           placeholder="func.funcType.name"
                           ng-model="func.funcType.name"
                           ng-disabled="true">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-xs" ng-click="editnormalLabelevent(func)">编辑</button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="delnormalLabelevent(func)">删除</button>
                </div>
            </div>
        </li>
    </accordionmenu>
</div>