<div ng-model="no" class="linarrow">
    <accordionmenu accordionmenu-title='timeshowTitle' accordionmenu-show='true'>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">
                    <span >背景颜色</span>
                </div>
                <div class="col-md-6">
                    <select ng-model="$parent.FontNumColorSelect" class="form-control input-sm"
                            ng-options="x.name for x in FontNumColor"
                            ng-change="changeTimeshowNumColor()">
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">组件高度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="number"
                           min="76"
                           placeholder="高度"
                           ng-model="$parent.timeshowHeightInput"
                           ng-change="changeTimeshowHeight()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight">组件宽度</div>
                <div class="col-md-6">
                    <input class="form-control input-sm"
                           type="text"
                           placeholder="宽度"
                           ng-model="$parent.timeshowWidthInput"
                           ng-change="changeTimeshowWidth()">
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 textAlignAtRight" >
                    <span >组件主题</span>
                </div>
                <div class="col-md-6">
                    <select ng-model="$parent.timeshowTypeSelected" class="form-control input-sm"
                            ng-options="x.name for x in timeshowType"
                            ng-change="changeTimeshowType()">
                    </select>
                </div>
            </div>
        </li>
    </accordionmenu>
</div>